
.select-topic{
    border: none;
    background-color: #F5F5FF;
    border-radius: 8px;
    /* width: 100%; */
    font-weight: 600;
}

.react-dropdown-select-dropdown {
    padding: 10px; /* Add padding */
    cursor: pointer; /* Change cursor */
    width: 100% !important;
}

.react-dropdown-select-dropdown span{
    border: none;
    font-family: 'CustomFont', sans-serif;
    font-weight: 600;
}