@font-face {
    font-family: 'CustomFont';
    src: url('../../Fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

.courses-container {
    font-family: 'CustomFont', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: fit-content;
}

.courses-container .head {
    margin: auto;
    width: 40%;
    text-align: center;
}

.courses-container .head span {
    font-weight: 600;
    font-size: 30px;
}

.courses-container .courses-wrapper {
    display: flex;
    gap: 20px;
    width: 80%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.courses-container .courses-wrapper .course {
    display: flex;
    width: 300px;
    height: 200px;
    padding: 16px;
    flex-direction: column;
    background-color: bisque;
    border-radius: 10px;
    cursor: pointer;
    background-color: #050519;
    font-family: 'CustomFont', sans-serif !important;
}

.courses-container .courses-wrapper .course:hover {
    box-shadow: 0px 220px 62px 0px rgba(0, 0, 0, 0.00), 0px 141px 56px 0px rgba(0, 0, 0, 0.01), 0px 79px 48px 0px rgba(0, 0, 0, 0.05), 0px 35px 35px 0px rgba(0, 0, 0, 0.09), 0px 9px 19px 0px rgba(0, 0, 0, 0.10);
}

.courses-container .courses-wrapper .course .course-name {
    color: #FCFCFF;
    font-size: 19px;
    margin-top: auto;
}